azure-core
azure-cosmos
flask[async]==3.0.3
pymongo==4.7.2
python-dotenv==1.0.1
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests_oauthlib
Flask-Session
beautifulsoup4
pyjwt
flask-cors
whoosh
langchain_core
langchain_openai
langchain_community
langchain_huggingface
sentence-transformers
fastapi
motor
